.input-pass {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
  &__button {
    height: calc(100% - 2px);
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 4px;
    right: 1px;
    color: var(--clr-gray);
    transition: 0.2s;
    &:hover,
    :active {
      background: var(--clr-primary-light);
      color: var(--clr-primary);
    }
  }
}
