.simple-form {
  $border: 2px;
  $radius: 8px;
  display: flex;
  justify-content: space-between;
  border: $border solid var(--clr-primary);
  border-radius: $radius;
  & .button {
    padding: 10px 20px;
  }
  &__input-container {
    position: relative;
    width: 100%;
  }
  & input {
    color: var(--clr-primary);
    padding: 0px 20px;
    height: 100%;
    border-radius: 6px;
  }
  &__close-button {
    padding: 5px 10px;
    color: var(--clr-primary);
    position: absolute;
    top: 0%;
    bottom: 0%;
    right: 0%;
  }
}
