.account-info {
  display: flex;
  flex-wrap: wrap;
  gap: var(--padding-large);
  &__forms {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    gap: var(--padding-large);
  }
}

.account-deletion {
  flex: 1 1 100%;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
}

.account-image {
  flex: 1;
  &__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  &__image-container {
    width: 150px;
    aspect-ratio: 1;
    border-radius: 5px;
    overflow: hidden;
  }
  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.upload {
  min-width: 200px;
  &__info {
    display: flex;
  }
  &__file {
    display: flex;
    align-items: center;
    flex: 1;
    border-bottom: 2px solid var(--clr-primary);
    padding: 0px 5px;
    color: var(--clr-gray-light);
    font-size: var(--fs-secondary);
  }
  &__button {
    padding: 8px 15px;
    border-radius: 5px 5px 0px 0px;
    background: var(--clr-primary);
    color: var(--clr-white);
    transition: 0.3s;
    &:hover,
    &:active {
      background: var(--clr-primary-dark);
    }
  }
}
