@import '@Styles/Tools/mixins';

.reviews {
  &__header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
  }
  &__image-container {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    grid-row-start: 2 span;
  }
  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  &__author {
    font-size: var(--fs-item-title);
    font-weight: var(--fw-bold);
    color: var(--clr-primary);
  }
  &__info {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0px 10px;
    align-items: center;
  }
  &__date {
    color: var(--clr-gray-light);
    font-size: var(--fs-secondary);
  }
  &__likes {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
  }
  &__count {
    padding-top: 5px;
    color: var(--clr-gray);
    font-size: var(--fs-secondary);
    font-size: var(--fs-item-title);
  }
  &__list {
    padding: 0px 10px 15px 0px;
    display: grid;
    gap: 15px;
    max-height: 600px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 7px;
      background: var(--clr-primary-light);
    }
    &::-webkit-scrollbar-thumb {
      background: var(--clr-primary);
      border-radius: 3px;
    }
  }
}

@include adaptation('phone', max) {
  .reviews {
    padding: 10px;
    &__date {
      position: absolute;
      bottom: 15px;
      left: 10px;
    }
  }
}
