.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  aspect-ratio: 1;
  color: var(--clr-primary);
  border: 2px solid var(--clr-primary);
  border-radius: 5px;
  opacity: 0.4;
  transition: 0.2s;
  &:hover,
  &:active {
    opacity: 1;
  }
}
