.button {
  padding: 12px 25px;
  border-radius: 5px;
  background: var(--clr-primary);
  color: var(--clr-white);
  text-transform: capitalize;
  text-align: center;
  font-weight: var(--fw-bold);
  font-size: var(--fs-item-title);
  transition: 0.3s;
  &:active,
  &:hover {
    background: var(--clr-primary-dark);
  }
}
