@import '@Styles/Tools/mixins.scss';

.page-loading {
  background: var(--clr-white);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  &__gif {
    width: 75px;
  }
}

@include adaptation('tablet', max) {
  .page-loading__gif {
    width: 50px;
  }
}
