.button-outline {
  border: 2px solid var(--clr-primary);
  color: var(--clr-primary);
  padding: 10px 23px;
  background: transparent;
  border-radius: 5px;
  text-align: center;
  font-weight: var(--fw-bold);
  font-size: var(--fs-item-title);
  transition: 0.3s;
  &:hover,
  &:active {
    background: var(--clr-primary-dark);
    color: var(--clr-white);
    border-color: var(--clr-primary-dark);
  }
}
