body {
  font-family: var(--ff-primary);
  font-size: var(--fs-primary);
  color: var(--clr-black);
  font-weight: var(--fw-regular);
  line-height: var(--lh-primary);
}
p {
  line-height: var(--lh-secondary);
  font-size: var(--fs-secondary);
  color: var(--clr-grey);
}
a,
button {
  white-space: nowrap;
  line-height: 1;
}
input {
  font-weight: var(--fw-medium);
  accent-color: var(--clr-primary);
  cursor: pointer;
}
input,
textarea {
  &:focus::placeholder {
    opacity: 0;
    transform: translateX(40px);
    transition: 0.3s;
  }
}
html,
body,
#root {
  height: 100%;
}
span {
  color: var(--clr-gray);
}
:disabled {
  opacity: 0.5;
  cursor: auto;
  pointer-events: none;
}
::-webkit-scrollbar {
  width: 7px;
  background: var(--clr-primary-light);
}
::-webkit-scrollbar-thumb {
  background: var(--clr-primary);
  border-radius: 5px;
}
::selection {
  background: var(--clr-primary);
  color: var(--clr-white);
}
:focus {
  outline-color: var(--clr-primary);
}
::placeholder {
  color: var(--clr-gray);
  opacity: 0.8;
}
