body {
  font-family: var(--ff-primary);
  font-size: var(--fs-primary);
  color: var(--clr-black);
  font-weight: var(--fw-regular);
  line-height: var(--lh-primary);
}

p {
  line-height: var(--lh-secondary);
  font-size: var(--fs-secondary);
  color: var(--clr-grey);
}

a,
button {
  white-space: nowrap;
  line-height: 1;
}

input {
  font-weight: var(--fw-medium);
  accent-color: var(--clr-primary);
  cursor: pointer;
}

::selection {
  background: var(--clr-primary);
  color: var(--clr-white);
}

:focus {
  outline-color: var(--clr-primary);
}
