@import '../Tools/mixins.scss';
@import './app.scss';
@import './main.scss';

@include adaptation('tablet-wide', max) {
  .hidden-tablet-wide {
    display: none;
  }
}
@include adaptation('tablet', max) {
  .hidden-tablet {
    display: none;
  }
}
@include adaptation('phablet', max) {
  .hidden-phablet {
    display: none;
  }
}
