@import '../Tools/mixins.scss';

.text-center {
  text-align: center;
}

@include adaptation('tablet-wide', max) {
  .hidden-tablet-wide {
    display: none;
  }
}
@include adaptation('tablet', max) {
  .hidden-tablet {
    display: none;
  }
}
@include adaptation('phablet', max) {
  .hidden-phablet {
    display: none;
  }
}
.scroll-overflow {
  &::-webkit-scrollbar {
    width: 7px;
    background: var(--clr-primary-light);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--clr-primary);
    border-radius: 5px;
  }
}
.main {
  flex-grow: 1;
  margin-top: var(--header-height);
  padding: var(--padding-small) 0px var(--padding-large);
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
}

::placeholder {
  color: var(--clr-gray);
  opacity: 0.8;
}
