.upload {
  min-width: 200px;
  &__info {
    display: flex;
  }
  &__file {
    display: flex;
    align-items: center;
    flex: 1;
    border-bottom: 2px solid var(--clr-primary);
    padding: 0px 5px;
    color: var(--clr-gray-light);
    font-size: var(--fs-secondary);
  }
  &__button {
    padding: 8px 15px;
    border-radius: 5px 5px 0px 0px;
    background: var(--clr-primary);
    color: var(--clr-white);
    transition: 0.3s;
    &:hover,
    &:active {
      background: var(--clr-primary-dark);
    }
  }
}
