.price {
  &_solid {
    font-weight: var(--fw-bold);
    color: var(--clr-primary);
  }
  &_fake {
    font-weight: var(--fw-regular);
    color: var(--clr-grey);
    text-decoration: line-through;
  }
  &_simple {
    font-weight: var(--fw-regular);
  }
  &_medium {
    font-weight: var(--fw-medium);
    color: var(--clr-grey);
  }
}
