.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  &__body {
    position: relative;
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border-bottom: 10px solid var(--clr-primary);
    background: var(--clr-white);
    padding: 40px;
    max-width: min(calc(100% - 30px), 580px);
  }
  &__button {
    &_close {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 34px;
      aspect-ratio: 1;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: var(--transition-quick);
      &:hover,
      &:active {
        background: var(--clr-primary-light);
        color: var(--clr-primary-dark);
      }
    }
  }
  &__backdrop {
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background: rgba(0, 0, 0, 0.5);
  }
}
