$breakpoints: (
  'phone-small': 320px,
  'phone': 400px,
  'phone-wide': 480px,
  'phablet': 560px,
  'tablet-small': 640px,
  'tablet': 768px,
  'tablet-wide': 1024px,
  'desktop': 1248px,
  'desktop-wide': 1440px,
);

@mixin adaptation($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

//

@mixin adaptive-property($property, $desktop, $mobile) {
  $maxWidth: 1230;
  $minWidth: 320;
  @media only screen and (max-width: #{$minWidth}px) {
    #{$property}: #{$mobile}px;
  }
  @media only screen and (min-width: #{$maxWidth}px) {
    #{$property}: #{$desktop}px;
  }
  #{$property}: calc(
    #{$mobile}px + ((100vw - #{$minWidth}px) / (#{$maxWidth} - #{$minWidth})) *
      (#{$desktop} - #{$mobile})
  );
}
