.blog-card {
  background: var(--clr-background);
  &__content {
    padding: 10px;
    display: grid;
    justify-items: start;
    gap: 5px;
  }
  &__title {
    height: 2em;
    font-weight: var(--fw-bold);
    white-space: wrap;
    transition: 0.2s;
    &:hover,
    &:active {
      color: var(--clr-primary);
      text-decoration: underline;
    }
  }
  &__date {
    font-size: 14px;
    color: var(--clr-primary);
  }
  &__link {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 0px;
    transition: 0.2s;
    &:hover,
    &:active {
      gap: 10px;
      color: var(--clr-primary);
    }
  }
}
