@import '../../../Styles/Tools/mixins';

.cart {
  &__container {
    display: grid;
    grid-template-columns: 1fr 330px;
    gap: var(--padding-large);
  }
}

@include adaptation('tablet-wide', max) {
  .cart {
    &__container {
      grid-template-columns: 1fr;
    }
  }
}
