.label-input {
  display: grid;
  gap: 5px;
  &__label {
    text-transform: capitalize;
    font-size: var(--fs-secondary);
    &::after {
      content: '*';
      font-size: var(--fs-item-title);
      color: var(--clr-red);
      margin-left: 3px;
    }
  }
}
