.button-small {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: var(--clr-white);
  font-size: var(--fs-icon);
  padding: 8px;
  color: var(--clr-gray);
  transition: 0.3s;
  &:hover,
  &:active {
    background: var(--clr-primary-light);
    color: var(--clr-primary-dark);
  }
}
